#root {
    -fx-alignment : top-center;
    /*-fx-background-color: #1a1a1a;*/
}

#artist_element {
    -fx-cursor            : hand;
    -fx-border-radius     : 15px;
    -fx-background-radius : 15px;
}

#artist_element:hover {
    -fx-background-color : rgba(50, 50, 50, 0.5);
}

#artist_element:pressed {
    -fx-background-color : rgba(75, 75, 75, 0.5);
}

#pic_pane {
    -fx-min-width         : 130px;
    -fx-min-height        : -fx-min-width;
    -fx-max-width         : -fx-min-width;
    -fx-max-height        : -fx-min-height;
    /*-fx-border-style      : solid;
    -fx-border-color      : rgba(250, 250, 250, 0.8);
    -fx-border-width      : 2px;
    -fx-background-radius : 50%;
    -fx-border-radius     : 50%;*/
}

#lbl_pic {
    -fx-pref-width       : 55px;
    -fx-pref-height      : 70px;
    -fx-content-display  : graphic-only;
    /*-fx-background-color : rgba(250, 250, 250, 0.8);*/
    -fx-shape            : "M 12 0 C 8.6862915 0 6 2.6862915 6 6 C 6 9.3137085 8.6862915 12 12 12 C 15.313708 12 18 9.3137085 18 6 C 18 2.6862915 15.313708 0 12 0 z M 12 14 C 7.0317218 14.0055 3.0055111 18.031722 3 23 C 3 23.552285 3.4477153 24 4 24 L 20 24 C 20.552285 24 21 23.552285 21 23 C 20.9945 18.031722 16.968278 14.005511 12 14 z";

}

#lbl_name {
    -fx-text-alignment : center;
    -fx-text-fill      : white;
    -fx-font-size      : 18px;
}