#song_table {
    -fx-background-color : rgba(0, 0, 0, 0.6);
}

#song_table .placeholder .label {
    -fx-text-fill : white;
}

/*Top right corner above scroll-bar*/
#song_table .column-header-background .filler {
    -fx-background-color : transparent;
}

/*Bottom right corner between scrollbars*/
#song_table .corner {
    -fx-background-color : transparent;
}

/*Individual column header*/
#song_table .column-header {
    -fx-background-color : transparent;
}

/*Individual column header label text*/
#song_table .column-header .label {
    -fx-text-fill : white;
    -fx-alignment : center-left;
    -fx-padding   : 10 15;
}

/*Global background header bar*/
#song_table .column-header-background {
    -fx-background-color : transparent;
    -fx-padding          : 13 0;
}

#song_table .table-cell {
    -fx-border-color : transparent;
    -fx-padding      : 10 15;
}

#song_table .table-row-cell {
    -fx-text-background-color : white;
}

#song_table .playing {
    -fx-text-background-color : #e76363;
    -fx-font-size: 110%;
}

#song_table .table-row-cell:odd {
    -fx-background-color : transparent;
}

#song_table .table-row-cell:even {
    -fx-background-color : rgba(100, 100, 100, 0.3);
}

#song_table .table-row-cell:hover {
    -fx-background-color : rgb(74, 74, 74);
}

#song_table .table-row-cell:selected {
    -fx-background-color : rgb(114, 41, 41);
    -fx-text-background-color : white;
}

#song_table .table-row-cell:selected:hover,
#song_table .table-row-cell:pressed {
    -fx-background-color : rgb(76, 25, 25);
}

#song_table .table-row-cell:pressed {
    -fx-background-color : rgb(121, 121, 121);
}

#song_table .virtual-flow .scroll-bar .increment-button,
#song_table .virtual-flow .scroll-bar .decrement-button {
    -fx-opacity : 0;
    -fx-padding : 2;
}

#song_table .virtual-flow .scroll-bar:horizontal,
#song_table .virtual-flow .scroll-bar:horizontal .track,
#song_table .virtual-flow .scroll-bar:horizontal .thumb {
    -fx-background-color  : transparent;
    -fx-background-radius : 0;
    -fx-border-radius     : 0;
    -fx-padding           : 0;
    -fx-background-insets : 0;
    -fx-pref-height       : 0;

}

#song_table .virtual-flow .scroll-bar:vertical,
#song_table .virtual-flow .scroll-bar:vertical .track {
    -fx-background-color : transparent;
}

#song_table .virtual-flow .scroll-bar:vertical .thumb {
    -fx-background-color : #585858;
}