#main_root {
    -fx-background-color : #212121;
}

#lbl_app_icon {
    -fx-pref-width       : 25;
    -fx-pref-height      : -fx-pref-width;
    -fx-background-color : white;
    -fx-shape            : "M472.184,4.347c-3.631-3.209-8.441-4.75-13.261-4.25l-307.2,34.133c-8.647,0.957-15.19,8.265-15.189,16.964V355.34 c-15.468-9.256-33.174-14.102-51.2-14.012C38.281,341.329,0,371.946,0,409.595s38.281,68.267,85.333,68.267 s85.333-30.601,85.333-68.267V151.889l273.067-30.413v199.68c-15.473-9.238-33.179-14.066-51.2-13.961 c-47.053,0-85.333,30.618-85.333,68.267c0,37.649,38.281,68.267,85.333,68.267s85.333-30.601,85.333-68.267v-358.4 C477.866,12.208,475.8,7.584,472.184,4.347z";
}

#top_box {
    -fx-background-color : rgba(0, 0, 0, 0.2);
}

#lbl_app_title {
    -fx-font-size : 20;
    -fx-text-fill : white;
}

#lbl_author {
    -fx-text-fill : #a5a5a5;
}

.hyperlink {
    -fx-border-color : transparent;
    -fx-text-fill    : #b82b2b;
}

.hyperlink:visited {
    -fx-text-fill : #924343;
}

#left_menu_box {
    -fx-background-color : rgba(0, 0, 0, 0.2);
}

#btn_hide_menu_box {
    -fx-pref-width        : 150;
    -fx-pref-height       : 40;
    -fx-padding           : 0;
    -fx-background-color  : transparent;
    -fx-border-radius     : 0;
    -fx-background-radius : 0;
}

#btn_hide_menu_box:hover {
    -fx-background-color : rgba(0, 0, 0, 0.2);
}

#btn_hide_menu_box:pressed {
    -fx-background-color : rgba(0, 0, 0, 0.4);
}

#btn_hide_menu_box .label {
    -fx-pref-width       : 15;
    -fx-pref-height      : 15;
    -fx-background-color : white;
    -fx-content-display  : graphic-only;
}

#left_menu_sections {
    -fx-alignment : center;
}

#left_menu_sections > .button {
    -fx-padding           : 0;
    -fx-font-size         : 12;
    -fx-text-fill         : white;
    -fx-alignment         : center;
    -fx-background-color  : #2b2b2b;
    -fx-pref-width        : 150;
    -fx-pref-height       : 75;
    -fx-border-radius     : 0;
    -fx-background-radius : 0;
    -fx-border-style      : solid none none none;
    -fx-border-color      : #262626;
}

#left_menu_sections > .button.button_selected {
    -fx-background-color : #853131;
    -fx-font-weight      : bold;
}

#left_menu_sections > .button.button_selected:hover {
    -fx-background-color : #9b3f3f;
}

#left_menu_sections > .button.button_selected:pressed {
    -fx-background-color : #ac4e4e;
}

#left_menu_sections > .button > .svg_path_btn {
    -fx-fill : white;
}

#left_menu_sections > .button:hover {
    -fx-background-color : #3c3c3c;
}

#left_menu_sections > .button:pressed {
    -fx-background-color : #4d4d4d;
}

#pane_content_title {
    -fx-font-size    : 25;
    -fx-text-fill    : white;
    -fx-border-style : hidden hidden solid hidden;
    -fx-border-color : linear-gradient(from 0% 0% to 100% 0%, white 80%, transparent);
    -fx-border-width : 1;
}

#scroll_pane_content {
    -fx-background-color : transparent;
}

#scroll_pane_content > .viewport {
    -fx-background-color : transparent;
}

#player {
    -fx-background-color : rgba(0, 0, 0, 0.5);
}

.btn_player {
    -fx-padding : 0;
    -fx-cursor  : hand;
}

.btn_player_sides {
    -fx-pref-width       : 25px;
    -fx-pref-height      : 25px;

    -fx-background-color : white;
}

.btn_player_sides:hover {
    -fx-background-color : #a9a9a9;
}

.btn_player_sides:pressed {
    -fx-background-color : #868686;
}

#btn_player_play {
    -fx-pref-width        : 50px;
    -fx-pref-height       : -fx-pref-width;
    -fx-max-width         : -fx-pref-width;
    -fx-max-height        : -fx-pref-width;

    -fx-padding           : 0;

    -fx-font-size         : 26;
    -fx-text-fill         : white;
    -fx-background-color  : transparent;

    -fx-border-color      : white;
    -fx-border-width      : 3;
    -fx-border-style      : solid;

    -fx-border-radius     : 50%;
    -fx-background-radius : 50%;
}

#btn_player_play:hover {
    -fx-text-fill    : #b4b4b4;
    -fx-border-color : #b4b4b4;
}

#btn_player_play:pressed {
    -fx-text-fill    : #6e6e6e;
    -fx-border-color : #6e6e6e;
}

#btn_player_play .label {
    -fx-pref-width  : 16;
    -fx-pref-height : -fx-pref-width;
    -fx-min-width   : -fx-pref-width;
    -fx-min-height  : -fx-pref-width;
    -fx-max-width   : -fx-pref-width;
    -fx-max-height  : -fx-pref-width;

    -fx-background-color: white;
}

#btn_player_control_left {
    -fx-shape : "M 0,30 65,0 45,30 65,60 Z";
}

#btn_player_control_right {
    -fx-shape : "m 65.205141,30 -65,-30 20,30 -20,30 z";
}