#settings_container {
    -fx-background-color : rgba(0, 0, 0, 0.4);
}

#settings_root {
    -fx-background-color : #222222;
}

.label {
    -fx-text-fill : white;
}
#top {
    -fx-background-color: linear-gradient(to bottom, rgba(200, 10, 10, 0.3), transparent);
}

#lbl_title {
    -fx-font-size : 20px;
}

.title {
    -fx-pref-width   : 380px;
    -fx-font-size    : 17px;
    -fx-border-style : solid;
    -fx-border-width : 2px;
    -fx-border-color : transparent transparent linear-gradient(to right, white, transparent) transparent;
}

.toggle-switch:selected .thumb-area {
    -fx-background-color: #6e3636;
}

.subtitle {

}